<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>

<body>
    <!--=====ホームのコンテンツ部分=====-->
    <div th:fragment="pcEdit_contents">
        <div class="row">
            <div class="col-sm-5">
               <div class ="page-header">
                   <h1>PC詳細</h1>
                </div>
                <form method="post" th:action="@{/pcDetailEdit}" th:object="${pcEditForm}">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th class="active col-sm-2">管理番号</th>
                            <td class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="*{pcId}" readonly="readonly"/>
                                </div>
                            </td>
                        </tr>
                        <!-- 用途表示 -->
                        <tr>
                            <th class="active">用途</th>
                            <td><div class="form-group" th:classappend="${#fields.hasErrors('purpose')} ? 'has-error' ">
                                <!-- USER権限 -->
                                <select sec:authorize="isAuthenticated() and hasAuthority('USER')" type="text" class="form-control" id="purpose" name="purpose" disabled>
                                    <option value="R&D" th:selected="${pcEditForm.purpose}=='R&D'">R&D用</option>
                                    <option value="研修用" th:selected="${pcEditForm.purpose}=='研修用'">研修用</option>
                                </select>
                                <!-- ADMIN権限 -->
                                <select sec:authorize="isAuthenticated() and hasAuthority('ADMIN')" type="text" class="form-control" id="purpose" name="purpose">
                                    <option value="R&D" th:selected="${pcEditForm.purpose}=='R&D'">R&D用</option>
                                    <option value="研修用" th:selected="${pcEditForm.purpose}=='研修用'">研修用</option>
                                </select>
                                <span class="text-danger" th:if="${#fields.hasErrors('purpose')}" th:errors="*{purpose}">エラー</span>
                            </div></td>
                        </tr>
                        <!-- 状態表示 -->
                        <tr>
                            <th class="active">状態</th>
                            <td>
                                <div class="form-group" th:classappend="${#fields.hasErrors('state')} ? 'has-error' ">
                                <!-- USER権限 -->
                                <select sec:authorize="isAuthenticated() and hasAuthority('USER')" type="text" class="form-control" id="state" name="state" disabled>
                                    <option value="未使用" th:selected="${pcEditForm.state}=='未使用'">未使用</option>
                                    <option value="登録中" th:selected="${pcEditForm.state}=='登録中'">登録中</option>
                                    <option value="使用中" th:selected="${pcEditForm.state}=='使用中'">使用中</option>
                                    <option value="廃棄" th:selected="${pcEditForm.state}=='廃棄'">廃棄</option>
                                </select>
                                <!-- ADMIN権限 -->
                                <select sec:authorize="isAuthenticated() and hasAuthority('ADMIN')"  type="text" class="form-control" id="state" name="state">
                                    <option value="未使用" th:selected="${pcEditForm.state}=='未使用'">未使用</option>
                                    <option value="登録中" th:selected="${pcEditForm.state}=='登録中'">登録中</option>
                                    <option value="使用中" th:selected="${pcEditForm.state}=='使用中'">使用中</option>
                                    <option value="廃棄" th:selected="${pcEditForm.state}=='廃棄'">廃棄</option>
                                </select>
                                <span class="text-danger" th:if="${#fields.hasErrors('state')}" th:errors="*{state}">エラー</span>
                            </div></td>
                        </tr>
                        <!-- ユーザ名表示 -->
                        <tr>
                            <th class="active">ユーザ名</th>
                            <!-- USER権限 -->
                            <td sec:authorize="isAuthenticated() and hasAuthority('USER')">
                                <input type="text" class="form-control" th:field="*{userName}" readonly="readonly"/>
                            </td>
                            <!-- ADMIN権限 -->
                            <td sec:authorize="isAuthenticated() and hasAuthority('ADMIN')">
                                <select type="text" class="form-control" id="userId" name="userId">
                                    <option th:value="null" th:inline="text">使用者なし</option>
                                    <option th:each="user : ${userList}" th:value="${user.userId}" th:inline="text" th:selected="${user.userId} == *{userId}">[[${user.userName}]]</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button sec:authorize="isAuthenticated() and hasAuthority('ADMIN')"  class="btn btn-primary btn-lg pull-right" type="submit" name="update">更新</button>
                </form>
            </div>
        </div>
        <div>
            <h1>レンタルログ</h1>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th class="infocol-sm-2">ログID</th>
                <th class="infocol-sm-2">管理番号</th>
                <th class="infocol-sm-2">ユーザID</th>
                <th class="infocol-sm-2">開始日</th>
                <th class="infocol-sm-2">返却日</th>
            </tr>
            <tr th:each="log : ${myLogList}">
                <td th:text="${log.rentalId}"></td>
                <td th:text="${log.pcId}"></td>
                <td th:text="${log.userId}"></td>
                <td th:text="${log.startDate}"></td>
                <td th:text="${log.endDate}"></td>
            </tr>
        </table>
    </div>
</body>
</html>
